.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
    transition: all .5s;
}

.sidebar-link {
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img {
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-size: 10px;
}

@media (min-width: 1200px) {
    .sidebar-link {
        flex-direction: row;
        width: 200px;
        justify-content: left;
        padding-left: 25px;
    }

    .sidebar {
        width: 220px;
    }

    .sidebar-link img {
        margin-right: 20px;
    }

    .sidebar-link div {
        font-size: 14px;
    }

    .sidebar-link div {
        font-size: 14px;
    }
}